<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenlinghong.graduation.repository.dao.GoodsCatalogOneDao">

    <resultMap id="BaseResultMap" type="com.chenlinghong.graduation.repository.domain.GoodsCatalogOne">
        <id column="id" property="id" jdbcType="INTEGER" javaType="Long"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" javaType="Date"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" javaType="Date"/>
        <result column="deleted" property="deleted" jdbcType="VARCHAR" javaType="Integer"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="description" property="description" jdbcType="VARCHAR" javaType="String"/>
        <collection property="catalogTwoList"
                    column="{catalogOneId=id}"
                    javaType="java.util.List"
                    ofType="com.chenlinghong.graduation.repository.domain.GoodsCatalogTwo"
                    select="com.chenlinghong.graduation.repository.dao.GoodsCatalogTwoDao.listByCatalogOne">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        `gmt_create`, `gmt_modified`, `deleted`, `name`, `description`
    </sql>

    <sql id="column_list">
        `id`,
        <include refid="Base_Column_List"/>
    </sql>

    <sql id="value_list">
        current_timestamp, current_timestamp, '0'
    </sql>

    <insert id="insert" parameterType="com.chenlinghong.graduation.repository.domain.GoodsCatalogOne">
        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            SELECT last_insert_id()
        </selectKey>
        INSERT into
        goods_catalog_one(
        <include refid="Base_Column_List"/>
        )
        values(
        <include refid="value_list"/>,#{name},#{description}
        )
    </insert>

    <update id="deleteById" parameterType="int">
        update goods_catalog_one
        set deleted      = '1',
            gmt_modified = current_timestamp
        where id = #{id}
    </update>

    <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        goods_catalog_one
        WHERE
        id=#{id} and deleted = "0"
    </select>


    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        goods_catalog_one
        WHERE
        deleted = "0"
        order by id desc
        <choose>
            <when test="offset != null and rows != null">
                limit #{offset},#{rows}
            </when>
            <otherwise>
                limit 0,10
            </otherwise>
        </choose>
    </select>

    <select id="count" resultType="long">
        SELECT count(*)
        FROM goods_catalog_one
        WHERE deleted = "0" and `deleted` = '0'
    </select>

</mapper>