<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenlinghong.graduation.repository.dao.UserTagDao">

    <resultMap id="BaseResultMap" type="com.chenlinghong.graduation.repository.domain.UserTag">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="deleted" property="deleted" jdbcType="VARCHAR" javaType="java.lang.Integer"/>
        <result column="user_id" property="userId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="catalog_one_id" property="goodsCatalogOneId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="catalog_two_id" property="goodsCatalogTwoId" jdbcType="BIGINT" javaType="java.lang.Long"/>
    </resultMap>

    <sql id="Base_Column_List">
        `user_id`, `catalog_one_id`, `catalog_two_id`
    </sql>

    <sql id="normal_column_list">
        `gmt_create`, `gmt_modified`, `deleted`,
        <include refid="Base_Column_List"></include>
    </sql>

    <sql id="column_list">
        `id`,
        <include refid="normal_column_list"></include>
    </sql>

    <insert id="insert" parameterType="com.chenlinghong.graduation.repository.domain.UserTag">
        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            SELECT last_insert_id()
        </selectKey>
        INSERT into
        user_tag(<include refid="Base_Column_List"></include>)
        values(#{userId}, #{goodsCatalogOneId}, #{goodsCatalogTwoId})
    </insert>

    <insert id="insertBatch">
        INSERT into
        user_tag(<include refid="Base_Column_List"></include>)
        values
        <foreach collection="userTagList" item="item" separator=",">
            (#{item.userId}, #{item.goodsCatalogOneId}, #{item.goodsCatalogTwoId})
        </foreach>
    </insert>

    <update id="deleteById" parameterType="long">
        update total
        set deleted = '1'
        where id = #{id}
    </update>

    <select id="getById" parameterType="long" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        user_tag
        WHERE
        id=#{id} and `deleted` = '0'
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        user_tag
        where `deleted` = '0'
        order by id desc
        <choose>
            <when test="offset != null and rows != null">
                limit #{offset},#{rows}
            </when>
            <otherwise>
                limit 0,10
            </otherwise>
        </choose>
    </select>

    <select id="listByUser" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        user_tag
        where `deleted` = '0' and `user_id` = #{userId}
        order by id desc
    </select>

    <select id="count" resultType="long">
        SELECT
        count(*)
        FROM
        user_tag
        where `deleted` = '0'
    </select>

    <update id="update" parameterType="com.chenlinghong.graduation.repository.domain.UserTag">
        update user_tag
        set `user_id`       = #{caseNumber},
            `catalog_one_id` = #{goodsCatalogOneId},
            `catalog_two_id` = #{goodsCatalogTwoId},
            `gmt_modified` = current_timestamp
        where id = #{id} and `deleted` = '0'
    </update>

</mapper>