<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenlinghong.graduation.repository.dao.UserPreferenceDao">

    <resultMap id="BaseResultMap" type="com.chenlinghong.graduation.repository.domain.UserPreference">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="deleted" property="deleted" jdbcType="VARCHAR" javaType="java.lang.Integer"/>
        <result column="user_id" property="userId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="goods_id" property="goodsId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="preference" property="preference" jdbcType="BIGINT" javaType="java.lang.Integer"/>
    </resultMap>

    <sql id="Base_Column_List">
        `user_id`, `goods_id`, `preference`
    </sql>

    <sql id="normal_column_list">
        `gmt_create`, `gmt_modified`, `deleted`,
        <include refid="Base_Column_List"></include>
    </sql>

    <sql id="column_list">
        `id`,
        <include refid="normal_column_list"></include>
    </sql>

    <insert id="insert" parameterType="com.chenlinghong.graduation.repository.domain.UserPreference">
        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            SELECT last_insert_id()
        </selectKey>
        INSERT into
        user_goods_preference(<include refid="Base_Column_List"></include>)
        values(#{userId}, #{goodsId}, #{preference})
    </insert>

    <insert id="insertBatch">
        INSERT into
        user_goods_preference(<include refid="Base_Column_List"></include>)
        values
        <foreach collection="preferenceList" item="item" separator=",">
            (#{item.userId}, #{item.goodsId}, #{item.preference})
        </foreach>
    </insert>

    <update id="deleteById" parameterType="long">
        update user_goods_preference
        set deleted = '1'
        where id = #{id}
    </update>

    <select id="getById" parameterType="long" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        user_goods_preference
        WHERE
        id=#{id} and `deleted` = '0'
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        user_goods_preference
        where `deleted` = '0'
        order by id desc
        <choose>
            <when test="offset != null and rows != null">
                limit #{offset},#{rows}
            </when>
            <otherwise>
                limit 0,10
            </otherwise>
        </choose>
    </select>

    <select id="count" resultType="long">
        SELECT
        count(*)
        FROM
        user_goods_preference
        where `deleted` = '0'
    </select>

    <select id="countByUserAndGoods" resultType="int">
        SELECT
        count(`id`)
        FROM
        user_goods_preference
        where `deleted` = '0' and user_id = #{userId} and goods_id = #{goodsId}
    </select>

    <select id="getByUserAndGoods" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"></include>
        FROM
        user_goods_preference
        where `deleted` = '0' and user_id = #{userId} and goods_id = #{goodsId}
    </select>

    <update id="update" parameterType="com.chenlinghong.graduation.repository.domain.UserPreference">
        update user_goods_preference
        set `user_id`       = #{userId},
            `goods_id` = #{goodsId},
            `preference` = #{preference},
            `gmt_modified` = current_timestamp
        where id = #{id} and `deleted` = '0'
    </update>

    <update id="updateBatch">
        update user_goods_preference
        set `preference` =
        <foreach collection="preferenceList" item="item" separator=" " open="case goods_id" close="end">
            when #{item.goodsId} then #{item.preference}
        </foreach>
        where `deleted` = '0' and (
        `user_id` in
        <foreach collection="preferenceList" item="item" separator="," open="(" close=")">
            #{item.userId}
        </foreach>
        )
    </update>

</mapper>